$padding: 8px;
$padding-double: $padding * 2;
$padding-half: $padding / 2;

$margin: 8px;
$margin-double: $margin * 2;
$margin-triple: $margin * 3;

$border-radius-big: 8px;
$border-radius-small: 4px;

$header-height: 120px;
$footer-height: 80px;

$button-size: 52px;
$input-height: 42px;
