$padding: 8px;
$margin: 8px;
$margin-double: $margin * 2;

$font-family: 'Comic Neue', 'Arial';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$color-grey: rgba(255, 255, 255, 0.7);
